<div class="ic-container">
  <h1>Faktura kontraktowca</h1>
  <form
    *ngIf="form"
    [formGroup]="form"
    (ngSubmit)="onSubmit(form)"
    #myform="ngForm"
  >
    <mat-grid-list cols="2" rowHeight="4:1">
      <mat-grid-tile>
        <tcw-nip [form]="form"></tcw-nip>
      </mat-grid-tile>
      <mat-grid-tile>
        <tcw-currency [form]="form"></tcw-currency>
      </mat-grid-tile>
    </mat-grid-list>

    <tcw-invoice-header></tcw-invoice-header>

    <div *ngFor="let item of invoices.controls; let i = index">
      <tcw-invoice-item
        [form]="transformToFormGroup(item)"
        (emmitRemoveItem)="removeFromInvoices(i)"
        (emmitNeedCalculateTotal)="calculateTotal()"
      ></tcw-invoice-item>
    </div>
    <button mat-raised-button (click)="addInvoice()">Dodaj wiersz</button>
    <div style="margin-top: 1rem">
      <tcw-invoice-total [total]="total"></tcw-invoice-total>
    </div>
    <div>
      <pre role="json">{{ form.value | json }}</pre>
    </div>
  </form>
</div>
