<div class="ic-container">
  <h1>Faktura kontraktowca</h1>
  <form
    *ngIf="form"
    [formGroup]="form"
    (ngSubmit)="onSubmit(form)"
    #myform="ngForm"
  >
    <mat-grid-list cols="2" rowHeight="4:1">
      <mat-grid-tile>
        <tcw-nip [form]="form"></tcw-nip>
      </mat-grid-tile>
      <mat-grid-tile>
        <tcw-currency [form]="form"></tcw-currency>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="4:1">
      <mat-grid-tile>
        <div class="column text-bold">Stawka VAT</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="column text-bold">Kwota netto</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="column text-bold">Kwota VAT</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="column text-bold">Kwota brutto</div>
      </mat-grid-tile>
    </mat-grid-list>

    <div *ngFor="let item of invoices.controls">
      <tcw-invoice-item [form]="transformToFormGroup(item)"></tcw-invoice-item>
    </div>
    <button mat-raised-button (click)="addInvoice()">Dodaj wiersz</button>
    <div style="margin-top: 1rem">
      <tcw-invoice-total></tcw-invoice-total>
    </div>
    <div>
      {{ form.value | json }}
    </div>
  </form>
</div>
